/* General */

body {   
    padding: 0;
    margin: 0;
    font-weight: 300;
    background-color: #ffffff;
    font-size: 16px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.container {
  padding: 18vh 14vw 18vh 14vw;
  margin: 0;
}

.container img {
    max-width: 64%;
}


h1 {
    margin: 2rem 0 1rem 0;
    font-size: 1.5em;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4rem;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
}

p {
    line-height: 1.5;
}

a {
    color: #3949ab;
}

main {
    flex: 1 0 auto;
}

.center {
    text-align: center;
}
